.planetSpec {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 3rem;
  padding-left: 200px;

  &__title {
    text-transform: uppercase;
  }
}
